<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wfcrc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".config.AppConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/WFCRCTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ProgramDetailActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/WFCRCTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wfcrc.MainActivity" />
        </activity>

        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DonateActivity" />
        <activity
            android:name="com.paypal.android.MEP.PayPalActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name=".FeedbackActivity"/>

        <!--<activity
            android:name=".DocumentGallerySearchActivity"
            android:parentActivityName=".DocumentGalleryActivity"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wfcrc.DocumentGalleryActivity" />
        </activity>-->

        <activity android:name=".VolunteerActivity" />
    </application>

</manifest>